@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.profile-row {
  padding: 5%;
  font-family: 'Poppins', sans-serif;
}

.profile-photo{
    height: 250px;
    width: 250px;
    background-image: url("../Assets/saloni.PNG");
    background-size: cover;
    margin: auto;
    border-radius: 100%;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
}