body{
    background-color: #7F7C82;
    
}
.portfolio{
    max-width: 70%;
    margin-top: 2rem;
}

.accordion-header>button{
    background-color: #4061cf !important;
    color: #fff !important; 
      
}

.header-text{
    font-size: 1rem;
    font-weight: bold;
}

.accordion-body{
    background-color: #FEF9EF
}

