body{
    background-color: #e0d9c8;
    
}
.portfolio{
    padding:2%;
    max-width: 80%;
}

.accordion-header>button{
    background-color: #EC255A !important;
    color: #fff !important; 
      
}

.header-text{
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #fff !important;
}

.accordion-body{
    background-color: #FEF9EF
}

.accordion-button::after{
    color: #fff;
}


.accordion-button{
    color: white !important;
}

@media(max-width:1220px) {
    .portfolio{
        max-width: 100%;
        margin-top: 0%;
        padding: 0%;
    }
}