body{
    background-color: #e0d9c8;
    
}
.portfolio{
    max-width: 70%;
    margin-top: 2rem;
}

.accordion-header>button{
    background-color: #EC255A !important;
    color: #fff !important; 
      
}

.header-text{
    font-size: 1rem;
    font-weight: bold;
}

.accordion-body{
    background-color: #FEF9EF
}

.accordion-button::after{
    color: #fff;
}


.accordion-button{
    color: black;
}

@media(max-width:900px) {
    .portfolio{
        max-width: 100%;
        margin-top: 0%;
        padding: 0%;
    }
}